form {
  display: flex;
  font-size: 0.9rem;
  flex-flow: column;
}
input[type="text"] {
  width: 180px;
  height: 2.4em;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
}
button {
  display: block;
  background: olivedrab;
  width: 100px;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  margin-top: 10px;
  border-radius: 30px;
}
